<div class="img-1">
  {{img-wrap src=imgSrc1 load-success='didSuccess1' load-error='didError1'}}
</div>
<div class="img-2">
  {{img-wrap src=imgSrc2 load-success='didSuccess2' load-error='didError2'}}
</div>
<div class="img-3">
  {{img-wrap src=imgSrc3 load-success='didSuccess3' load-error='didError3'}}
</div>
